<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Company Alerts</title>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>

  <div class="box">
    <h1>Login</h1>
    <p>Login to subscribe and manage notifications.</p>

    <form id="loginForm">
      <label>Email</label>
      <input type="email" id="email" placeholder="Enter email" required>

      <label>Password</label>
      <input type="password" id="password" placeholder="Enter password" required>

      <button type="submit">Login</button>
    </form>

    <div id="msg"></div>

    <a class="back" href="/">⬅ Back to Home</a>
  </div>

  <script src="../static/login.js"></script>
</body>
</html>
