<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link rel="stylesheet" href="../static/register.css">
</head>
<body>

  <div class="register-box">
    <h1>Create Account</h1>
    <p>Register to subscribe and get company notifications.</p>

    <form id="registerForm">
      <label>Name</label>
      <input type="text" id="name" placeholder="Enter your name" required>

      <label>Email</label>
      <input type="email" id="email" placeholder="Enter your email" required>

      <label>Password</label>
      <input type="password" id="password" placeholder="Create password" required>

      <button type="submit">Register</button>
    </form>

    <div id="msg"></div>

    <a href="/login-page" class="back">⬅ Back to Login</a>
  </div>

  <script src="../static/register.js"></script>
</body>
</html>
